<div [@fadeAnimation] *ngFor="let course of courses$ | async">
    <div class="card">
      <div class="card-body">
        <div>
          <span class="float-right display-4 text-secondary">{{ course.formattedGrade || '-' }}</span>
          <div class="card-title  font-xl font-weight-normal mb-2">{{ course.courseTitle }}</div>
        </div>
        <div class="card-text pb-2">
          <span class="badge badge-yellow p-2 font-weight-normal mr-2">{{ course.courseType.name }}</span>
          <span class="badge badge-indigo p-2 font-weight-normal">{{ course.ects }} ECTS</span>
        </div>
        <div class="card-text pb-2">
          <span class="badge badge-gray-200 p-2 font-weight-normal mr-2 mb-2">{{ course.semester.name }}</span>
          <span class="badge badge-pink p-2 font-weight-normal mr-2 mb-2">
            {{ course.lastRegistrationYear.name }}&nbsp;{{ course.lastRegistrationPeriod.name }}
          </span>
          <span class="badge badge-success p-2 font-weight-normal mb-2" *ngIf="course.isPassed">
            {{ course.examPeriod.name }}&nbsp;{{ course.gradeYear.name }}
          </span>
        </div>
      </div>
    </div>
  </div>