<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Universis Students</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse p-2" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="'font-weight-bold'" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="'font-weight-bold'" [routerLink]="['/courses']">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="'font-weight-bold'" [routerLink]="['/registrations']">Registrations</a>
      </li>
    </ul>
  </div>
</nav>
  <div class="container mt-4">
    <router-outlet></router-outlet>
  </div>
