<div class="row">
    <div class="col-md-8 col-sm">
      <student-course-list></student-course-list>
    </div>
    <div class="col-md-4 col-sm-12">
      <course-doughnut></course-doughnut>
      <ects-doughnut></ects-doughnut>
    </div>
  </div>
  